.aboutUsBody {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 64px;
  margin: 0 auto;
  padding: 0 16px;
  /* overflow: y-scroll;
    scroll-snap-type: y mandatory; */
}
.aboutUsBody > .aboutUs-header,
.aboutUsBody > .aboutUs-story,
.aboutUsBody > .aboutUs-creator,
.aboutUsBody > .feedback-wrapper {
  scroll-snap-align: start;
}
.aboutUs-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding-top: var(--navbar-height);
  height: 100vh;
}
.header-title {
  font-weight: 500;
  font-size: 48px;
  font-family: 'Anbu';
  text-align: center;
}
.header-subtitle {
  font-size: 20px;
  font-family: 'JetB', monospace;
  text-align: center;
}

.aboutUs-story {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: var(--navbar-height);
}
.story-title {
  font-size: 36px;
  font-family: 'Anbu';
  text-align: center;
}
.story-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.story-block {
  display: grid;
  align-content: start;
  gap: 12px;
}
.story-subtitle {
  font-size: 18px;
  font-family: 'Anbu';
}

.aboutUs-creator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: var(--navbar-height);
}
.creator-title {
  font-size: 36px;
  font-family: 'Anbu';
  text-align: center;
}
.creator-card {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 32px;
}
.creator-pic {
  filter: saturate(0);
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.creator-name {
  font-size: 24px;
  font-family: 'Anbu';
}
.creator-quote {
  display: flex;
  align-items: center;
  gap: 8px;
}
.quote {
  font-size: 12px;
  font-family: 'Anbu';
  text-align: center;
}

.feedback-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--navbar-height);
  padding-top: var(--navbar-height);
  height: 100vh;
}
.feedback-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 100%;
}
.feedback-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 720px;
}
.feedback-title {
  font-size: 28px;
  font-family: 'Anbu';
  text-align: center;
}
.feedback-subtitle {
  font-style: italic;
  font-size: 16px;
  font-family: 'Anbu';
  text-align: center;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 720px;
}
.form-input {
  border: 2px solid var(--color-black);
  padding: 8px 12px;
  width: 100%;
  resize: none;
  color: var(--color-black);
  font-size: 16px;
  font-family: 'JetB', monospace;
}
.input-message {
  height: 120px;
}
.form-submit {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
}
.form-submit:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

@media (min-width: 768px) {
  .aboutUsBody {
    padding: 0 24px;
    max-width: 1440px;
  }
  .header-title {
    font-size: 80px;
  }
  .header-subtitle {
    font-size: 24px;
  }
  .aboutUs-story {
    justify-content: center;
    height: 100vh;
  }
  .story-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 24px;
  }
  .story-title {
    font-size: 48px;
  }
  .story-block {
    border: 2px solid var(--color-black);
    padding: 16px;
    height: 100%;
  }
  .story-subtitle {
    font-size: 20px;
  }
  .aboutUs-creator {
    justify-content: flex-end;
    height: 100vh;
  }
  .creator-title {
    font-size: 48px;
  }
  .creator-card {
    grid-template-columns: minmax(0, 540px) minmax(0, 672px);
    justify-content: center;
    align-items: center;
  }
  .creator-pic {
    max-width: 100%;
  }
  .creator-name {
    font-size: 32px;
  }
  .quote {
    font-size: 16px;
  }
  .feedback-wrapper {
    margin: 0;
    height: calc(100vh - var(--footer-height));
  }
  .feedback-section {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: none;
    border: 4px solid var(--color-black);
  }
  .feedback-heading {
    align-items: flex-start;
    min-width: 360px;
  }
  .feedback-title,
  .feedback-subtitle {
    text-align: left;
  }
  .feedback-form,
  .feedback-heading {
    flex: 1;
    outline: px solid blue;
    max-width: 540px;
  }
}
