.aboutUsContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
  background-color: var(--color-white);
  padding: 0 16px;
  color: var(--color-black);
}
.aboutUsContainer > .aboutUsHeader,
.aboutUsContainer > .aboutUsStory,
.aboutUsContainer > .aboutUsCreator,
.aboutUsContainer > .feedbackWrapper {
  scroll-snap-align: start;
}
.aboutUsHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding-top: var(--navbar-height);
  height: 100vh;
}
.headerTitle {
  font-weight: 500;
  font-size: var(--font-3xl);
  font-family: var(--font-heading);
  text-align: center;
}
.headerSubtitle {
  font-size: var(--font-lg);
  font-family: var(--font-txt);
  text-align: center;
}
.aboutUsStory {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: var(--navbar-height);
}
.storyTitle {
  font-size: var(--font-2xl);
  font-family: var(--font-heading);
  text-align: center;
}
.storyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.storyBlock {
  display: grid;
  align-content: start;
  gap: 12px;
}
.storySubtitle {
  font-size: var(--font-md);
  font-family: var(--font-heading);
}
.aboutUsCreator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: var(--navbar-height);
}
.creatorTitle {
  font-size: var(--font-2xl);
  font-family: var(--font-heading);
  text-align: center;
}
.creatorCard {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 32px;
}
.creatorPic {
  filter: saturate(0);
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
}
.cardContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.creatorName {
  font-size: var(--font-xl);
  font-family: var(--font-heading);
}
.creatorQuote {
  display: flex;
  align-items: center;
  gap: 8px;
}
.quote {
  font-size: var(--font-xs);
  font-family: var(--font-heading);
  text-align: center;
}
.feedbackWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--navbar-height);
  padding-top: var(--navbar-height);
}
.feedbackSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 100%;
}
.feedbackHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 720px;
}
.feedbackTitle {
  font-size: var(--font-xl);
  font-family: var(--font-heading);
  text-align: center;
}
.feedbackSubtitle {
  font-style: italic;
  font-size: var(--font-base);
  font-family: var(--font-heading);
  text-align: center;
}
.feedbackForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 720px;
}
.formInput {
  border: 2px solid var(--color-black);
  padding: 8px 12px;
  width: 100%;
  height: 120px;
  resize: none;
  color: var(--color-black);
  font-size: var(--font-base);
  font-family: var(--font-txt);
}
.formInput:focus {
  outline: 1px solid var(--color-black);
}
/* ---------------------------------------------------- */
/* ---------------- Responsive Styles ----------------- */
/* ---------------------------------------------------- */
@media (min-width: 768px) {
  .aboutUsContainer {
    padding: 0 24px;
    max-width: 1440px;
  }
  .headerTitle {
    font-size: var(--font-4xl);
  }
  .headerSubtitle {
    font-size: var(--font-xl);
  }
  .aboutUsStory {
    justify-content: center;
    height: 100vh;
  }
  .storyContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 24px;
  }
  .storyTitle {
    font-size: var(--font-3xl);
  }
  .storyBlock {
    border: 2px solid var(--color-black);
    padding: 16px;
    height: 100%;
  }
  .storySubtitle {
    font-size: var(--font-lg);
  }
  .aboutUsCreator {
    justify-content: flex-end;
    height: 100vh;
  }
  .creatorTitle {
    font-size: var(--font-3xl);
  }
  .creatorCard {
    grid-template-columns: minmax(0, 540px) minmax(0, 672px);
    justify-content: center;
    align-items: center;
  }
  .creatorPic {
    max-width: 100%;
  }
  .creatorName {
    font-size: var(--font-2xl);
  }
  .quote {
    font-size: var(--font-base);
  }
  .feedbackWrapper {
    margin: 0;
    height: calc(100vh - var(--footer-height));
  }
  .feedbackSection {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: none;
    border: 4px solid var(--color-black);
  }
  .feedbackHeading {
    align-items: flex-start;
    min-width: 360px;
  }
  .feedbackTitle,
  .feedbackSubtitle {
    text-align: left;
  }
  .feedbackForm,
  .feedbackHeading {
    flex: 1;
    max-width: 540px;
  }
}
