.aboutUs-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
  background-color: var(--color-white);
  padding: 0 16px;
  color: var(--color-black);
}
.aboutUs-container > .aboutUs-header,
.aboutUs-container > .aboutUs-story,
.aboutUs-container > .aboutUs-creator,
.aboutUs-container > .feedback-wrapper {
  scroll-snap-align: start;
}
.aboutUs-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding-top: var(--navbar-height);
  height: 100vh;
}
.header-title {
  font-weight: 500;
  font-size: var(--font-3xl);
  font-family: var(--font-heading);
  text-align: center;
}
.header-subtitle {
  font-size: var(--font-lg);
  font-family: var(--font-txt);
  text-align: center;
}

.aboutUs-story {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: var(--navbar-height);
}
.story-title {
  font-size: var(--font-2xl);
  font-family: var(--font-heading);
  text-align: center;
}
.story-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.story-block {
  display: grid;
  align-content: start;
  gap: 12px;
}
.story-subtitle {
  font-size: var(--font-md);
  font-family: var(--font-heading);
}

.aboutUs-creator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: var(--navbar-height);
}
.creator-title {
  font-size: var(--font-2xl);
  font-family: var(--font-heading);
  text-align: center;
}
.creator-card {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 32px;
}
.creator-pic {
  filter: saturate(0);
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.creator-name {
  font-size: var(--font-xl);
  font-family: var(--font-heading);
}
.creator-quote {
  display: flex;
  align-items: center;
  gap: 8px;
}
.quote {
  font-size: var(--font-xs);
  font-family: var(--font-heading);
  text-align: center;
}

.feedback-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--navbar-height);
  padding-top: var(--navbar-height);
}
.feedback-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 100%;
}
.feedback-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 720px;
}
.feedback-title {
  font-size: var(--font-xl);
  font-family: var(--font-heading);
  text-align: center;
}
.feedback-subtitle {
  font-style: italic;
  font-size: var(--font-base);
  font-family: var(--font-heading);
  text-align: center;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 720px;
}
.form-input {
  border: 2px solid var(--color-black);
  padding: 8px 12px;
  width: 100%;
  height: 120px;
  resize: none;
  color: var(--color-black);
  font-size: var(--font-base);
  font-family: var(--font-txt);
}
.form-input:focus {
  outline: 1px solid var(--color-black);
}
/* ---------------------------------------------------- */
/* ---------------- Responsive Styles ----------------- */
/* ---------------------------------------------------- */
@media (min-width: 768px) {
  .aboutUs-container {
    padding: 0 24px;
    max-width: 1440px;
  }
  .header-title {
    font-size: var(--font-4xl);
  }
  .header-subtitle {
    font-size: var(--font-xl);
  }
  .aboutUs-story {
    justify-content: center;
    height: 100vh;
  }
  .story-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 24px;
  }
  .story-title {
    font-size: var(--font-3xl);
  }
  .story-block {
    border: 2px solid var(--color-black);
    padding: 16px;
    height: 100%;
  }
  .story-subtitle {
    font-size: var(--font-lg);
  }
  .aboutUs-creator {
    justify-content: flex-end;
    height: 100vh;
  }
  .creator-title {
    font-size: var(--font-3xl);
  }
  .creator-card {
    grid-template-columns: minmax(0, 540px) minmax(0, 672px);
    justify-content: center;
    align-items: center;
  }
  .creator-pic {
    max-width: 100%;
  }
  .creator-name {
    font-size: var(--font-2xl);
  }
  .quote {
    font-size: var(--font-base);
  }
  .feedback-wrapper {
    margin: 0;
    height: calc(100vh - var(--footer-height));
  }
  .feedback-section {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: none;
    border: 4px solid var(--color-black);
  }
  .feedback-heading {
    align-items: flex-start;
    min-width: 360px;
  }
  .feedback-title,
  .feedback-subtitle {
    text-align: left;
  }
  .feedback-form,
  .feedback-heading {
    flex: 1;
    max-width: 540px;
  }
}
