.aboutUsBody{
    margin: 0 auto;
    padding: 0 16px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 64px;
    /* overflow: y-scroll;
    scroll-snap-type: y mandatory; */
}
.aboutUsBody > .aboutUs-header,
.aboutUsBody > .aboutUs-story,
.aboutUsBody > .aboutUs-creator,
.aboutUsBody > .feedback-wrapper{
    scroll-snap-align: start;
}
.aboutUs-header{
    outline: 4px solid red;
    padding-top: var(--navbar-height);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.header-title{
    text-align: center;
    font-size: 48px;
    font-family: 'Anbu';
    font-weight: 500;
}
.header-subtitle{
    text-align: center;
    font-size: 20px;
    font-family: 'JetB', monospace;
}


.aboutUs-story{
    outline: 4px solid red;
    padding-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.story-title{
    text-align: center;
    font-size: 36px;
    font-family: 'Anbu';
}
.story-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.story-block{
    display: grid;
    align-content: start;
    gap: 12px;
}
.story-subtitle{
    font-size: 18px;
    font-family: 'Anbu';
}


.aboutUs-creator{
    outline: 4px solid red;
    padding-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.creator-title{
    text-align: center;
    font-size: 36px;
    font-family: 'Anbu';
}
.creator-card{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 32px;
}
.creator-pic{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-position: 0 0;
    object-fit: cover;
    filter: saturate(0);
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.creator-name{
    font-size: 24px;
    font-family: 'Anbu';
}
.creator-quote{
    display: flex;
    gap: 8px;
    align-items: center;
}
.quote{
    text-align: center;
    font-size: 12px;
    font-family: 'Anbu';
}


.feedback-wrapper{
    outline: 4px solid red;
    height: 100vh;
    padding-top: var(--navbar-height);
    margin-bottom: var(--navbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-section{
    /* border: 4px solid var(--color-black); */
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.feedback-heading{
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.feedback-title{
    text-align: center;
    font-size: 28px;
    font-family: 'Anbu';
}
.feedback-subtitle{
    text-align: center;
    font-size: 16px;
    font-family: 'Anbu';
    font-style: italic;
}
.feedback-form{
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.form-input{
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    font-family: 'JetB', monospace;
    border: 2px solid var(--color-black);
    color: var(--color-black);
    resize: none;
}
.input-message{
    height: 120px;
}
.form-submit{
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}
.form-submit:hover{
    color: var(--color-black);
    background-color: var(--color-white);
}



@media (min-width: 768px){
    .aboutUsBody{
        padding: 0 24px;
        max-width: 1440px;
    }
    .header-title{
        font-size: 80px;
    }
    .header-subtitle{
        font-size: 24px;
    }
    .aboutUs-story{
        height: 100vh;
        justify-content: center;
    }
    .story-content{
        display: grid;
        align-items: start;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
    .story-title{
        font-size: 48px;
    }
    .story-block{
        height: 100%;
        padding: 16px;
        border: 2px solid var(--color-black);
    }
    .story-subtitle{
        font-size: 20px;
    }
    .aboutUs-creator{
        height: 100vh;
        justify-content: flex-end;
    }
    .creator-title{
        font-size: 48px;
    }
    .creator-card{
        grid-template-columns: minmax(0, 540px) minmax(0, 672px);
        justify-content: center;
        align-items: center;
    }
    .creator-pic{
        max-width: 100%;
    }
    .creator-name{
        font-size: 32px;
    }
    .quote{
        font-size: 16px;
    }
    .feedback-wrapper{
        height: calc(100vh - var(--footer-height));
        margin: 0;
    }
    .feedback-section{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border: 4px solid var(--color-black);
        gap: none;
    }
    .feedback-heading{
        align-items: flex-start;
        min-width: 360px;
    }
    .feedback-title, .feedback-subtitle{
        text-align: left;
    }
    .feedback-form, .feedback-heading{
        outline: px solid blue;
        flex: 1;
        max-width: 540px;
    }
}