.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: var(--color-white);
  padding: 0 16px;
  width: 100%;
  height: 100vh;
  color: var(--color-black);
}
.auth-title {
  font-size: var(--font-3xl);
  font-family: var(--font-heading);
}
.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  box-sizing: border-box;
  width: 100%;
}
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 480px;
}
.auth-switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.switch-txt {
  font-size: var(--font-sm);
  font-family: var(--font-heading);
}
.auth-submit-btn,
.switch-btn {
  max-width: 480px;
}
