@font-face {
  font-style: normal italic;
  font-weight: 100 900;
  font-stretch: 75% 125%;
  src:
    url(/src/asets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format('truetype'),
    url(/src/asets/fonts/JetBrainsMono-VariableFont_wght.ttf) format('truetype');
  font-family: 'JetB', monospace;
}
@font-face {
  font-style: normal italic;
  font-weight: 100 900;
  src: url(/src/assets/fonts/Unbounded-VariableFont_wght.ttf) format('truetype');
  font-family: 'Anbu';
}

:root {
  --color-white: #fcfcfc;
  --color-black: #131313;
  --color-gray: #2a2a2a;

  --navbar-height: 80px;
  --footer-height: 120px;

  --font-txt: 'JetB', monospace;
  --font-heading: 'Anbu';

  --font-xs: 12px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-md: 18px;
  --font-lg: 20px;
  --font-xl: 28px;
  --font-2xl: 36px;
  --font-3xl: 48px;
  --font-4xl: 80px;
}

* {
  scroll-behavior: smooth;
  font-family: var(--font-txt);
}

html {
  scroll-snap-type: y mandatory;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.24;
  font-family: var(--font-heading);
}
input,
code,
textarea,
button {
  letter-spacing: 1px;
}
