@font-face {
  font-style: normal italic;
  font-weight: 100 900;
  font-stretch: 75% 125%;
  src:
    url(/src/asets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format('truetype'),
    url(/src/asets/fonts/JetBrainsMono-VariableFont_wght.ttf) format('truetype');
  font-family: 'JetB', monospace;
}
@font-face {
  font-style: normal italic;
  font-weight: 100 900;
  src: url(/src/assets/fonts/Unbounded-VariableFont_wght.ttf) format('truetype');
  font-family: 'Anbu';
}

* {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: 'JetB', monospace;
}

:root {
  --color-white: #fcfcfc;
  --color-black: #131313;
  --color-gray: #2a2a2a;

  --navbar-height: 80px;
  --footer-height: 120px;

  --font-txt: 'JetB', monospace;
  --font-heading: 'Anbu';
}
