.footer {
  display: grid;
  justify-items: center;
  gap: 8px;
  background-color: #131313;
  padding: 24px;
  width: 100%;
  height: var(--footer-height);
  scroll-snap-align: end;
}
.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}
.socialsHeading {
  color: var(--color-white);
  font-style: italic;
  font-weight: 600;
  font-size: var(--font-lg);
}
.socialsList {
  display: flex;
  gap: 12px;
}
.copyRight {
  color: var(--color-white);
  text-align: center;
}
.socialLink {
  transition: color 0.2s ease-in-out;
  color: #fff;
}
.socialLink:hover {
  transform: translateY(-4px);
  color: #2a2a2a;
}
