.navBar {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  border-bottom: 4px solid var(--color-black);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 24px;
  width: 100%;
  height: var(--navbar-height);
  scroll-snap-align: start;
}
.navLogo {
  color: var(--color-black);
  text-decoration: none;
}
.navLogo:hover {
  text-decoration: underline;
}
.burgerIcon {
  cursor: pointer;
}
.navList {
  display: none;
}
.navListMenu {
  display: flex;
  position: absolute;
  top: var(--navbar-height);
  right: 0;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  outline: 2px solid var(--color-black);
  background-color: var(--color-white);
  padding: 16px;
}
.navLink,
.active,
.loginLink {
  transition:
    border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  border: 2px solid transparent;
  padding: 8px 16px;
  color: var(--color-black);
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
.navLink:hover,
.active:hover,
.loginLink:hover {
  border-color: var(--color-grey);
  color: var(--color-grey);
}
.loginLink {
  background-color: var(--color-black);
  color: var(--color-white);
}
.loginLink:hover {
  background-color: var(--color-white);
}
/* ---------------------------------------------------- */
/* ---------------- Responsive Styles ----------------- */
/* ---------------------------------------------------- */
@media (min-width: 768px) {
  .navList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
  }
  .burgerIcon {
    display: none;
  }
}
