header{
    display: grid;
    gap: 16px;
    height: 100vh;
    place-content: center;
}

.welcomeMsg{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-content: center;
}
h1, p{
  text-align: center;
}

main{
    height: 100vh;
    display: grid;
    flex-direction: column;
    place-content: center;
    gap: 16px;
    text-align: center;
}