.navBar{
    z-index: 3;
    position: fixed;
    top: 0;
    height: var(--navbar-height);
    border-bottom: 4px solid var(--color-black);
    padding: 0 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
}
.navLogo{
    color: var(--color-black);
    text-decoration: none;
}
.navLogo:hover{
    text-decoration: underline;
}
.navList{
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
}
.navLink, .active, .loginLink{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black);
    padding: 8px 16px;
    border: 2px solid transparent;
    transition: border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}
.navLink:hover, .active:hover, .loginLink:hover{
    border-color: var(--color-grey);
    color: var(--color-grey);
}
.loginLink{
    background-color: var(--color-black);
    color: var(--color-white);
}
.loginLink:hover{
    background-color: var(--color-white);
}