.inputElement {
  border: 2px solid var(--color-black);
  padding: 8px 12px;
  width: 100%;
  resize: none;
  color: var(--color-black);
  font-size: var(--font-base);
  font-family: var(--font-txt);
}
.inputElement:focus {
  outline: 1px solid var(--color-black);
}
